* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}
/*
navbar
*/
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 55px;
  font-size: 20px;
  align-items: center;
  padding: 15px;
  background-color: #0a0a0a;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.brand {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  padding-left: 60px;
  text-align: center;
}
.firstname {
  color: #8000fffb;
  font-weight: 800;
  font-size: 25px;
  padding: 5px;
}

.lastname {
  padding-left: 4px;
  font-weight: 800;
  padding-top: 5px;
  font-size: 25px;
  color: #f1f1f1;
}
.brand > img {
  width: 50px;
  border-radius: 50px;
  margin-right: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.navigation > li {
  list-style-type: none;
}

.navigation > li > a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  padding: 9px;
  margin: 9px;
}

.navigation > li > a:hover {
  color: #7f3aff;
  transition: all 0.2s ease-in-out;
}

/*
akhir navbar
*/

.projects-section {
  margin: 0px;
  margin-top: 90px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.title-project-section {
  font-weight: bold;
  font-size: 30px;
}

.desc-project-section {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}

.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card-content {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 30px;
  text-align: center;
}

.card-content img {
  width: 100%;
  height: 350px;
}
